KUBECONFIG='...' 
DB_SECRET_PASSWORD='...'
NDB_SECRET_USERNAME='...'
NDB_SECRET_PASSWORD='...'
NDB_SERVER='https://...:8443/era/v0.9'
NX_CLUSTER_ID='...'

# Optional
MONGO_SI_CLONING_NAME=mazin-mongo
MSSQL_SI_CLONING_NAME=mazin-mssql
MYSQL_SI_CLONING_NAME=mazin-mysql
POSTGRES_SI_CLONING_NAME=pritika_ft_nov15
