KUBECONFIG='/Users/<username>/.kube/config'
#Sample
DB_SECRET_PASSWORD=''
NDB_SECRET_USERNAME=''
NDB_SECRET_PASSWORD=''
NDB_SERVER=''
NX_CLUSTER_NAME=''
POSTGRES_SI_CLONING_NAME=''
MYSQL_SI_CLONING_NAME=''