KUBECONFIG='/home/user/.kube/config' 
DB_SECRET_PASSWORD='...' # any value allowed; requires a capital letter, number, and special character
NDB_SECRET_USERNAME='...'
NDB_SECRET_PASSWORD='...'
NDB_SERVER='https://...:8443/era/v0.9'
NX_CLUSTER_ID='...' # from /clusters api call

# Optional
MONGO_SI_CLONING_NAME=mazin-mongo
MSSQL_SI_CLONING_NAME=mazin-mssql
MYSQL_SI_CLONING_NAME=mazin-mysql
POSTGRES_SI_CLONING_NAME=pritika_ft_nov15
